<h2 class="modal__title">Вход в личный кабинет</h2>
<form action="" class="modal__login-form">
  <input type="text" class="modal__login-form-telephone modal__login-form-input" placeholder="Телефон" required>
  <input type="text" class="modal__login-form-password modal__login-form-input" placeholder="Пароль" required>
  <div class="modal__login-form-wrapper">
    <div class="modal__login-form-remember">
      <input type="checkbox" class="modal__login-form-remember-input" id="modal__login-form-remember-input" required>
      <label class="modal__login-form-remember-label" for="modal__login-form-remember-input">Запомнить меня</label>
    </div>
    <button class="modal__login-form-forgot link">Забыли пароль?</button>
  </div>
  
  <button class="modal__login-submit button" type="submit">Войти</button>
</form>
<div class="modal__login-social">
  <h3 class="modal__login-social-title">
    <span>Войти через</span>
  </h3>
  <ul class="modal__login-social-links-list">
    <li class="modal__login-social-links-list-item">
      <a href="#" class="social-link social-link--facebook"></a>
    </li>
    <li class="modal__login-social-links-list-item">
      <a href="#" class="social-link social-link--instagram"></a>
    </li>
    <li class="modal__login-social-links-list-item">
      <a href="#" class="social-link social-link--telegram"></a>
    </li>
    <li class="modal__login-social-links-list-item">
      <a href="#" class="social-link social-link--twitter"></a>
    </li>
    <li class="modal__login-social-links-list-item">
      <a href="#" class="social-link social-link--vk"></a>
    </li>
  </ul>
</div>
<div class="modal__login-registration">
  Нет аккаунта? <button class="link link--colored" data-modal="registration">Зарегистрироваться</button>
</div>