<h2 class="modal__title">Регистрация</h2>
<form action="" class="modal__registration-form">
  <input type="text" class="modal__registration-form-name modal__registration-form-input" placeholder="Имя" required>
  <input type="text" class="modal__registration-form-telephone modal__registration-form-input" placeholder="Телефон" required>
  <input type="text" class="modal__registration-form-password modal__registration-form-input" placeholder="Пароль" required>
  <input type="text" class="modal__registration-form-repeat-password modal__registration-form-input" placeholder="Повторите пароль" required>
  <div class="modal__registration-form-agree">
    <input type="checkbox" class="modal__registration-form-agree-input" id="modal__registration-form-agree-input" required="">
    <label class="modal__registration-form-agree-label" for="modal__registration-form-agree-input">Я согласен на обработку моих персональных данных, а также с Пользовательским соглашением</label>
  </div>
  
  <button class="modal__registration-submit button" type="submit">Регистрация</button>
</form>
<div class="modal__registration-login">
  Уже есть аккаунт? <button class="link link--colored" data-modal="login">Войти</button>
</div> 