.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  @include adaptiveDesktopToMobile('padding-right', 40, 20);
  @include adaptiveDesktopToMobile('padding-left', 40, 20);
}

.section {
  margin: 0;
  padding: 0;
  @include adaptiveDesktopToMobile('padding-top', 80, 35);
  @include adaptiveDesktopToMobile('padding-bottom', 80, 35);
}

.title-h2 {
  font-weight: bold;
  @include adaptiveDesktopToMobile('font-size', 36, 30);
  margin: 0;
}

.title-h3 {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

