@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin viewport--1919 {
  @media (max-width: 1919px) {
    @content;
  }
}

@mixin viewport--1440 {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin viewport--1439 {
  @media (max-width: 1439px) {
    @content;
  }
}

@mixin viewport--1365 {
  @media (max-width: 1365px) {
    @content;
  }
}

@mixin viewport--1279 {
  @media (max-width: 1279px) {
    @content;
  }
}

@mixin viewport--1023 {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin viewport--767 {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin viewport--425 {
  @media (max-width: 425px) {
    @content;
  }
}

@mixin viewport--374 {
  @media (max-width: 374px) {
    @content;
  }
}

@mixin adaptiveFull($property, $startSize, $midSize, $endSize) {
  $addSizeMid: $startSize - $midSize;
  $addSizeEnd: $midSize - $endSize;
  #{$property}: $startSize + px;
  @media (min-width: #{$midWidth + px}) {
    #{$property}: calc(#{$midSize + px} + #{$addSizeMid} * ((100vw - #{$midWidth + px}) / #{$startWidth - $midWidth}));
  }
  @media (max-width: #{$midWidth + px}) {
    #{$property}: calc(#{$endSize + px} + #{$addSizeEnd} * ((100vw - #{$endWidth + px}) / #{$midWidth - $endWidth}));
  }
}

@mixin adaptiveDesktopToMobile($property, $startSize, $endSize) {
  $addSize: $startSize - $endSize;
  #{$property}: $startSize + px;
  @media (max-width: #{$startWidth + px}) {
    #{$property}: calc(#{$endSize + px} + #{$addSize} * ((100vw - #{$endWidth + px}) / #{$startWidth - $endWidth}));
  }
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

