.card {
  width: 270px;
  display: block;
  position: relative;
  background-color: $color-default-white;

  &:hover {
    .card__content {
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

      .card__title {
        color: $color-main
      }
    }
    
    .card__img {
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    }

    .card__img-overlay {
      opacity: 1;
    }
  }

  &--horizontal {
    width: fit-content;
    display: flex;

    &:hover {
      .card__title {
        color: $color-main
      }
    }

    .card__img-wrapper {
      width: 70px;
      min-height: 100%;
      border-radius: 5px;
    }

    .card__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: unset;
      border-radius: 5px;
    }

    .card__text {
      padding: 0 0 0 30px;
      max-width: 400px;
    }

    .card__description {
      font-size: 14px;
      line-height: 17px;
      color: $color-matterhorn;
      margin: 0;
    }
  }

  &--with-borders {
    padding: 25px 15px;
    border-top: 2px solid $color-whisper;
    border-bottom: 2px solid $color-whisper;
  }

  &--with-white-color {
    color: $color-default-white;
  }

  &--sale {
    position: relative;

    &::before {
      content: "Акция";
      position: absolute;
      top: 20px;
      left: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 70px;
      color: $color-default-white;
      font-weight: bold;
      font-size: 16px;
      background-color: $color-cinnabar;
      z-index: 2;
    }
  }

  &--type-2 {
    width: 250px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    @include adaptiveDesktopToMobile('padding', 20, 15);
    transition: box-shadow $default-transition-settings;
    border-radius: 5px;

    &.card--horizontal {
      width: fit-content;
      @include adaptiveDesktopToMobile('padding', 20, 15);

      .card__img-wrapper {
        width: auto;
      }

      .card__img {
        height: auto;
        margin: 0;
      }

      .card__text {
        padding: 0 0 0 20px;
        max-width: 285px;
      }
    }

    &:hover {
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

      .card__img {
        box-shadow: unset;
      }
    }

    .card__img {
      width: auto;
      min-width: 35px;
      box-shadow: none;
      margin-bottom: 20px;
    }

    .card__title {
      font-size: 14px;
      margin-bottom: 10px;

      &:hover {
        color: inherit;
      }
    }

    .card__description {
      font-size: 14px;
      line-height: 17px;
      margin: 0;
      z-index: 1;
    }
  }

  &--type-2-big {
    width: 370px;
    @include adaptiveDesktopToMobile('min-height', 300, 270);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: transparent;
    overflow: hidden;

    .card__title {
      @include adaptiveDesktopToMobile('font-size', 14, 12);
    }
  }

  &--type-3 {
    background-color: transparent;

    .card__title {
      font-size: 14px;
      margin-top: 15px;
    }

    .card__description {
      margin: 0;
    }
  }

  &--type-4 {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 2px solid $color-whisper;
    border-radius: 5px;
    width: auto;

    .card__img {
      max-width: 105px;
      max-height: 105px;
      aspect-ratio: 1 / 1;
    }

    .card__text {
      padding: 0 0 0 20px;
    }

    .card__title {
      @include adaptiveDesktopToMobile('font-size', 18, 16);
    }

    .card__description {
      margin-bottom: 0;
      @include adaptiveDesktopToMobile('font-size', 14, 12);
    }
  }

  &--with-text-overlay.card {
    padding: 0;

    .card__text {
      background-color: $color-main;
      width: fit-content;
      min-width: 65%;
    }

    .card__description {
      max-width: 230px;
    }

    &:nth-child(even) {
      .card__text {
        min-width: 50%;
      }
    }
  }

  &__content {
    min-height: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    transition: box-shadow $default-transition-settings;

    &__img {
      filter: unset;
    }
  }

  &__img-wrapper {
    width: fit-content;
    border-radius: 5px;
    position: relative;
  }

  &__img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    transition: box-shadow $default-transition-settings;
  }

  &__img-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 2;
    opacity: 0;
    transition: opacity $default-transition-settings;
    border-radius: 5px;
  }

  &__more {
    min-width: unset;
  }

  &__text {
    padding: 15px 20px;
    @include adaptiveDesktopToMobile('padding-top', 15, 10);
    @include adaptiveDesktopToMobile('padding-bottom', 15, 10);
    @include adaptiveDesktopToMobile('padding-right', 20, 15);
    @include adaptiveDesktopToMobile('padding-left', 20, 15);
    z-index: 1;
  }

  &__suptitle {
    font-size: 12px;
    color: $color-dark-gray;
    margin: 0;

    &:not(:first-child) {
      margin-top: 15px;
    }
  }

  &__title {
    margin: 0;
    font-weight: bold;
    @include adaptiveDesktopToMobile('font-size', 18, 12);
    transition: color $default-transition-settings;
    z-index: 1;
    max-width: 95%;

    &:hover {
      color: $color-main;
    }

    &:not(:last-child) {
      margin: 0 0 10px 0;
    }
  }

  &__availability {
    color: $color-main;
    margin-left: 30px;
  }

  &__price {
    font-weight: bold;
    font-size: 18px;
    margin: 15px 0 0 0;
  }

  &__bottom-wrapper {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;

    .card__counter {
      margin: 0;
    }

    .card__add-to-cart {
      min-width: unset;
    }
  }

  &__counter {
    margin-top: 60px;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &__background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}